
.l-body{
    min-height: 80vh;
    width: 100vw;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 2rem;
}

.l-intro{
    min-height: 50vh;
    width: 90vw;
    /* border: 1px solid #715656; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.l-intro-left{
    width: 600px;
    height: 450px;
    /* border: 1px solid red; */
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.l-intro-left h2{
    font-size: 3rem;
    font-weight: 400;
    color: #ddd;
}
.l-intro-left p{
    color: #ddd;
}

.l-intro-left h4{
    background-color: transparent;
    color: rgb(7, 104, 7);
}

.l-intro-left button{
    background-color: var(--color-red);
    border: none;
    padding: 0.7rem 3rem;
    color: #fff;
}

.l-intro-left button:hover{
    background-color: var(--primary-color);
    border: 1px solid var(--color-red);;
    color: #fff;
}

.l-intro-right{
    width: 400px;
    height: 450px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.l-intro-right>*{
    font-size: 20rem;
    z-index: 1;
    /* border: 1px solid #715656; */
}

.l-intro-right>span:nth-child(1){
    color: var(--primary-color);
    background-color: transparent;
    text-shadow: -1px -1px 0 var(--color-red), 1px -1px 0 var(--color-red), -1px 1px 0 var(--color-red), 1px 1px 0 var(--color-red);
}

.l-intro-right>span:nth-child(2){
    color: var(--color-red);
}
.l-intro-right>span:nth-child(3){
    width: 100px;
    background-color: rgba(80, 4, 9, 0.78);
    border-bottom-left-radius: 80%;
    filter: blur(1px);
    border: none;
    height: 200px;
    position: absolute;
    z-index: 0;
}

.rocket{
    font-size: 2rem;
    background-color: transparent;
    animation: rotate 20s linear infinite;
    position: absolute;
}

@keyframes rotate {
    0% {
         transform: translateX(-50rem); 
         rotate: 0deg;
        }
    100% { transform: translateX(50rem);
        rotate: -90deg;
     }
}

.l-content{
    width: 90vw;
    min-height: 30vh;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.l-content-left{
    width: 400px;
    min-height: 300px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.l-content-right{
    width: 600px;
    min-height: 300px;
    /* border: 1px solid red; */
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.l-content-right button{
    background-color: var(--color-red);
    border: none;
    padding: 0.7rem 3rem;
    color: #fff;
}

.l-content-right button:hover{
    background-color: var(--primary-color);
    border: 1px solid var(--color-red);;
    color: #fff;
}

.l-content-right>span{
    background-color: transparent;
    font-size: 3rem;
    color: var(--color-red);
}

.l-content-right>ul{
    font-size: 1rem;
    display: flex;
    gap: .5rem;
    flex-direction: column;
    background-color: transparent;
}

.l-content-right>ul>li{
    list-style: none;
    /* border: 1px solid red; */
    color: #ddd;
    background-color: transparent;
}

.l-content-right>h3{
    color: #ddd;
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: 200;
}

@media (max-width: 600px) {
    .l-body{
        min-height: 100vh;
        padding: 5rem 0;
    }
    .l-intro{
        min-height: 50vh;
        justify-content: center;
    }
    .l-intro-left{
        width: 320px;
        min-height: 300px;
        padding: 1rem 0;
        justify-content: center;
    }
    .l-intro-left p{
        text-align: justify;
        color: #ddd;
    }

    .l-intro-left h2{
        font-size: 1.6rem;
    }
    .l-intro-right{
        width: 320px;
        min-height: 300px;
        padding: 1rem 0;
        align-items: center;
    }
    .l-intro-right>span:last-child{
        animation: rotate 15s linear infinite;
    }
    @keyframes rotate {
        0% {
             transform: translateX(-50rem); 
             rotate: 0deg;
            }
        100% { transform: translateX(50rem);
            rotate: -90deg;
         }
    }
    .l-content{
        min-height: 60vh;
        padding: 1rem 0;
        flex-direction: column-reverse;
        /* border: 1px solid red; */
    }   

    #l-content{
        flex-direction: column;
    }

    .l-content-left{
        width: 340px;
    }

    .l-content-right{
        width: 340px;
        gap: 1rem;
    }
  }