.uicard{
    height: 280px;
    width: 224px;
    background: rgba(0, 17, 34, 0.3);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 3px;
    /* border: 1px solid rgb(223, 47, 47); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}
  
  .uicard iframe {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 3px;
  }

.u-button{
  position: absolute;
  background-color: transparent;
  top: -4px;
  left: -4px;
}

.u-button button{
  background-color: red;
  border-radius: 5px;
  padding: 0.6rem 2rem;
  border: none;
  color: #ddd;
}

.u-button button:hover{
  background-color: var(--primary-color);
  outline: 2px solid red;
  color: #ddd;
}

.ui-view{
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 5px;
  padding-right: 5px;
  background-color: transparent;
}

.ui-view span{
  background-color: transparent;
  color: #555353;
  font-size: 0.8rem;
  font-weight: 800;
}

.ui-view i{
  background-color: transparent;
}

