.demo{
    width: 100vw;
    min-height: 40vh;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0rem;
  }
  
  .d-title h2{
    color: var(--color-red);
    background-color: transparent;
    font-size: 4rem;
    font-weight: 800;
  }
  
  .d-vid video{
    width: 600px;
    height: 400px;
    object-fit: contain;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);  
  }

@media (max-width: 600px) {
    .demo{
      height: 40vh;
      flex-direction: column;
    }
  
    .demo h2{
      color: var(--color-red);
      background-color: transparent;
      font-size: 2rem;
      font-weight: 800;
    }
    .demo video{
      width: 300px;
      height: 250px;
      object-fit: contain;
    }
  }