.aside{
    width: 250px;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.a-header{
    flex: 1;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.a-header h1{
    color: #ae2323;
    font-size: 2.5rem;
}

.a-body{
    flex: 4;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.a-body>ul{
    list-style: none;
}

.a-body>ul>li{
    margin-top: 1.2rem;
}

.a-body>ul>li>a{
    color: #ccc;
    font-size: 1.5rem;
    padding: 5px 40px;
    border-radius: 5px;
    background: rgba(0, 17, 34, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    transition: 1s ease-in;
}

.a-body>ul>li>a:hover{
    border-left: 1px solid rgba(255, 255, 255, 0.18);
}

.selected {
    color: red;
}
  
@media (max-width: 600px) {
    .aside {
      display: none;
    }
    /* Additional styles for smaller screens */
  }