.ui-main{
    width: 100vw;
    min-height: 600px;
    display: flex;
    align-items: start;
    gap: 5px;
    justify-content: space-evenly;
    color: #ddd;
    /* border: 1px solid red; */
}

.ui-left{
    height: 600px;
    /* border: 1px solid red; */
    max-width: 320px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-evenly;
}

#ui-title{
    font-size: 2rem;
    text-align: center;
}

#ui-author{
    color: var(--color-red);
    font-size: 1rem;
}

.ui-frame{
    height: 400px;
    width: 320px;
    background: rgba(0, 17, 34, 0.3);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-frame iframe {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 10px;
  }

.ui-right{
    width: 700px;
    /* border: 1px solid red; */
    height: 600px;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
} 

.ui-codes{
    /* border:  1px solid white; */
    height: 200px;
    width: 90%;
}

.ui-codes label{
    font-size: 2rem;
    color: #ddd;
}

.ui-codes>textarea{
    font-family: 'JetBrains Mono', monospace;
    width: 98%;
    height: 150px;
    resize: none;
    background-color: #2a191c;
    color: rgb(172, 169, 163);
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
}

.ui-codes button{
    position: relative;
    z-index: 9;
    bottom: 20px;
    background-color: var(--color-red);
    color: #ddd;
    border: none;
}

.ui-codes button:hover{
    background-color: var(--primary-color);
    color: #ddd;
    border: 1px solid var(--color-red);
}

@media (max-width: 600px) {
    .ui-main{
        flex-direction: column;
        align-items: center;
        border: 1px solid transparent;
        padding: 2rem 0;
    }

    .ui-left{
        width: 320px;
        align-items: center;
    }
    .ui-right{
        min-height: 100vh;
        padding: 2rem 0;
        gap: 6rem;
        width: 320px;
        align-items: start;
        justify-content: start;
        /* overflow: hidden; */
    }
    .ui-codes{
        /* border:  1px solid white; */
        min-height: 200px;
    }
    .ui-codes>textarea{
        width: 320px;
        height: 200px;
    }
  }